<table>
<tbody>
<tr>
    <td><button class="button" data-id="images/1996/lg/KatrinCol.jpg"><img src="images/1996/KatrinCol_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/Katarina_col01.jpg"><img src="images/1996/Katarina_col03_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/Katarina_col04.jpg"><img src="images/1996/Katarina_col04_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/Katarina_Col03.jpg"><img src="images/1996/Katarina_Col01_sm.jpg" alt="img" /></button></td>
</tr>
<tr>
    <td><button class="button" data-id="images/1996/lg/BW_one.jpg"><img src="images/1996/BW_one_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/calligraphy.jpg"><img src="images/1996/calligraphy_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/candles.jpg"><img src="images/1996/candles_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/BW_two.jpg"><img src="images/1996/BW_two_sm.jpg" alt="img" /></button></td>
</tr>
<tr>
    <td><button class="button" data-id="images/1996/lg/first-light.jpg"><img src="images/1996/first-light_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/tat-torso.jpg"><img src="images/1996/tat-torso_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/alter-scelter.jpg"><img src="images/1996/alter_scelter_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/BW_three_new.jpg"><img src="images/1996/BW_three_new_sm.jpg" alt="img" /></button></td>
</tr>
<tr>
    <td><button class="button" data-id="images/1996/lg/Mel002_COL.jpg"><img src="images/1996/Mel002_COL_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/me_COL.jpg"><img src="images/1996/me_COL_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/Kris001_COL.jpg"><img src="images/1996/Kris001_COL_sm.jpg" alt="img" /></button></td>
    <td><button class="button" data-id="images/1996/lg/Mel001_COL.jpg"><img src="images/1996/Mel001_COL_sm.jpg" alt="img" /></button></td>
</tr>
</tbody>
</table>