<table>
    <tbody>
        <tr>
            <td><button class="button" data-id="images/2004/lg/silhouette_02.jpg"><img src="images/2004/silhouette_02_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/Daniel_SW01.jpg"><img src="images/2004/Daniel_SW01_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/Daniel_SW02.jpg"><img src="images/2004/Daniel_SW02_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/Tony001_B&W.jpg"><img src="images/2004/Tony001_B&W_sm.jpg" alt="img" /></button></td>
        </tr>
        <tr>
            <td><button class="button" data-id="images/2004/lg/BEC_RGB_006.jpg"><img src="images/2004/BEC_RGB_006_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/Bec003_B&W.jpg"><img src="images/2004/Bec003_B&W_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/Becamorphosis.jpg"><img src="images/2004/Becamorphosis_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/RGB_014.jpg"><img src="images/2004/RGB_014_sm.jpg" alt="img" /></button></td>
        </tr> <tr>
            <td><button class="button" data-id="images/2004/lg/RGB_015.jpg"><img src="images/2004/RGB_015_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/BEC_4quarters.jpg"><img src="images/2004/BEC_4quarters_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/Bec_01.jpg"><img src="images/2004/Bec_01_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/Bec_03.jpg"><img src="images/2004/Bec_03_sm.jpg" alt="img" /></button></td>
        </tr> 
        <tr>
            <td><button class="button" data-id="images/2004/lg/RGB_001.jpg"><img src="images/2004/RGB_001_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/Bec_RGB_012.jpg"><img src="images/2004/Bec_RGB_012_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/RGB_021.jpg"><img src="images/2004/RGB_021_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2004/lg/Bec_02.jpg"><img src="images/2004/Bec_02_sm.jpg" alt="img" /></button></td>
        </tr>
        <tr>
            <td><button class="button" data-id="images/2004/lg/Shana&Throne05.jpg"><img src="images/2004/Shana&Throne05_sm.jpg" alt="img"></button></td>
            <td><button class="button" data-id="images/2004/lg/Shana&Throne09.jpg"><img src="images/2004/Shana&Throne09_sm.jpg" alt="img"></button></td>
            <td><button class="button" data-id="images/2004/lg/ShannaLonginThrone03.jpg"><img src="images/2004/ShannaLonginThrone03_sm.jpg" alt="img"></button></td>
            <td><button class="button" data-id="images/2004/lg/ShannaLonginThrone02.jpg"><img src="images/2004/ShannaLonginThrone02_sm.jpg" alt="img"></button></td>
        </tr>
    </tbody>
</table>