<table>
    <tbody>
    <tr>
        <td><button class="button" data-id="images/2006/lg/RGB_008.jpg"><img src="images/2006/RGB_008_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_016.jpg"><img src="images/2006/RGB_016_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_028.jpg"><img src="images/2006/RGB_028_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_033.jpg"><img src="images/2006/RGB_033_sm.jpg" alt="img" /></button></td>
    </tr>
    <tr>
        <td><button class="button" data-id="images/2006/lg/RGB_040.jpg"><img src="images/2006/RGB_040_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_046.jpg"><img src="images/2006/RGB_046_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_051.jpg"><img src="images/2006/RGB_051_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_055.jpg"><img src="images/2006/RGB_055_sm.jpg" alt="img" /></button></td>
    </tr>
    <tr>
        <td><button class="button" data-id="images/2006/lg/RGB_061.jpg"><img src="images/2006/RGB_061_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_066.jpg"><img src="images/2006/RGB_066_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_075.jpg"><img src="images/2006/RGB_075_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_086.jpg"><img src="images/2006/RGB_086_sm.jpg" alt="img" /></button></td>
    </tr>
    <tr>
        <td><button class="button" data-id="images/2006/lg/RGB_090.jpg"><img src="images/2006/RGB_090_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_093.jpg"><img src="images/2006/RGB_093_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_096.jpg"><img src="images/2006/RGB_096_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_104.jpg"><img src="images/2006/RGB_104_sm.jpg" alt="img" /></button></td>
    </tr>
    <tr>
        <td><button class="button" data-id="images/2006/lg/RGB_001.jpg"><img src="images/2006/RGB_001_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_004.jpg"><img src="images/2006/RGB_004_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_002.jpg"><img src="images/2006/RGB_002_sm.jpg" alt="img" /></button></td>
        <td><button class="button" data-id="images/2006/lg/RGB_36.jpg"><img src="images/2006/RGB_36_sm.jpg" alt="img" /></button></td>
    </tr>
</tbody>
</table>