<table>
    <tbody>
        <tr>
            <td><button class="button" data-id="images/2007/lg/Mucke.jpg"><img src="images/2007/Mucke_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2007/lg/Toast&Mka01.jpg"><img src="images/2007/Toast&Mka01_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2007/lg/x3_0001.jpg"><img src="images/2007/x3_0001_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2007/lg/Toast0011.jpg"><img src="images/2007/Toast0011_sm.jpg" alt="img" /></button></td>
        </tr>
        <tr>
            <td><button class="button" data-id="images/2007/lg/Toast0001.jpg"><img src="images/2007/Toast0001_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2007/lg/x3_006.jpg"><img src="images/2007/x3_006_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2007/lg/x3_001.jpg"><img src="images/2007/x3_00_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2007/lg/Schnidde.jpg"><img src="images/2007/Schnidde_sm.jpg" alt="img" /></button></td>
        </tr>
        <tr>
            <td><button class="button" data-id="images/2007/lg/Lani_02.jpg"><img src="images/2007/Lani_02_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2007/lg/Mel.jpg"><img src="images/2007/Mel_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2007/lg/Lani_03.jpg"><img src="images/2007/Lani_03_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2007/lg/Lani_01.jpg"><img src="images/2007/Lani_01_sm.jpg" alt="img" /></button></td>
        </tr>
        
    </tbody>
</table>