<table>
    <tbody>
        <tr>
            <td><button class="button" data-id="images/2020/lg/brokenCup2.jpg"><img src="images/2020/brokenCup2_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/flowers-1.jpg"><img src="images/2020/flowers-1_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/flowers-2.jpg"><img src="images/2020/flowers-2_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/cup&saucer.jpg"><img src="images/2020/cup&saucer_sm.jpg" alt="img" /></button></td>
        </tr>
        <tr>
            <td><button class="button" data-id="images/2020/lg/abst-2.jpg"><img src="images/2020/abst-2_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/fight.jpg"><img src="images/2020/fight_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/abst-fig-1.jpg"><img src="images/2020/abst-fig-1_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/pink&black.jpg"><img src="images/2020/pink&black_sm.jpg" alt="img" /></button></td>
        </tr> <tr>
            <td><button class="button" data-id="images/2020/lg/landscape.jpg"><img src="images/2020/landscape_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/nude.jpg"><img src="images/2020/nude_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/Peroni.jpg"><img src="images/2020/Peroni_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/pink&gold.jpg"><img src="images/2020/Pink&Gold_sm.jpg" alt="img" /></button></td>
        </tr> <tr>
            <td><button class="button" data-id="images/2020/lg/120x240cm_waterfall_hiRes_v2.jpg"><img src="images/2020/120x240cm_waterfall_hiRes_v2_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/space.jpg"><img src="images/2020/space_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/Catorce.jpg"><img src="images/2020/Catorce_sm.jpg" alt="img" /></button></td>
            <td><button class="button" data-id="images/2020/lg/cityScape.jpg"><img src="images/2020/cityScape_sm.jpg" alt="img" /></button></td>
        </tr>
    </tbody>
</table>