<table>
    <tbody>
        <tr>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
        </tr>
        <tr>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
        </tr> <tr>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
        </tr> <tr>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
            <td><button class="button" data-id="images/2023/lg"><img src="images/2023" alt="img" /></button></td>
        </tr>
    </tbody>
</table>