
                    <table>

                        <tr>
<td><button class="button" data-id="images/dance/lg/Petrouschka02.jpg"><img src="images/dance/Petrouschka02_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/Tango_BW01.jpg"><img src="images/dance/Tango_BW01_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/Tango_BW02.jpg"><img src="images/dance/Tango_BW02_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/petrouschkaJump.jpg"><img src="images/dance/petrouschkaJump_sm.jpg" alt="IMG" id="49" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/dance/lg/3girls.jpg"><img src="images/dance/3girls_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/Breakdance_BW14.jpg"><img src="images/dance/Breakdance_BW14_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/Breakdance_BW10.jpg"><img src="images/dance/Breakdance_BW10_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/Tango01.jpg" ><img src="images/dance/Tango01_sm.jpg" alt="IMG" id="49" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/dance/lg/Descendance05.jpg" ><img src="images/dance/Descendance05_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/Breakdance_BW09.jpg"><img src="images/dance/Breakdance_BW09_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/Breakdance_BW03.jpg"><img src="images/dance/Breakdance_BW03_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/Saraya.jpg"><img src="images/dance/Saraya_sm.jpg" alt="IMG" id="49" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/dance/lg/ConKim01.jpg"><img src="images/dance/ConKim01_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/KimCon02.jpg"><img src="images/dance/KimCon02_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/ConKim_BW01.jpg"><img src="images/dance/ConKim_BW01_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/dance/lg/ConKim02.jpg"><img src="images/dance/ConKim02_sm.jpg" alt="IMG" id="49" /></button></td>
                        </tr>
                       
                    </table>