<div class="exhibition-list">
  <h1>Exhibitions, Individual</h1>
  <h4>2007 Munich, Germay - <button class="button" data-id="images/__cv/BlauPauseExhib.jpg">West Side Gallery</button></h4>
  <h4>2002 Sydney, Australia - <button class="button" data-id="images/__cv/ChunHeui01.jpg">Chun Heui Gallery</button></h4>
  <h4>2001 Sydney, Australia - <button class="button" data-id="images/__cv/CIVIC.jpg">Civic Hotel</button></h4>
  <h4>1999 London, UK - <button class="button" data-id="images/__cv/Kudos02.jpg">Kudos</button></h4>
  <h4>1999 London, UK - <button class="button" data-id="images/__cv/Bean.jpg">The Bean</button></h4>
  <h4>1998 Florence, Italy - <button class="button" data-id="images/__cv/Zoe02.jpg">ZOE</button></h4>
  <h4>1998 Mexico City - <button class="button" data-id="images/__cv/SanAngel03.jpg">San Angel Cultural Centre</button></h4>
  <i>- presented and funded by the Australian Embassy. </i>
  <h4>1997 Florence, Italy - <button class="button" data-id="images/__cv/rex02.jpg">Rex Café</button></h4>
  <h4>1997 Florence, Italy - Rose's Cafe Gallery</h4>
  <h4>1996 Florence, Italy - <button class="button" data-id="images/__cv/PalzzinaPres01.jpg">The Presidential Palace</button></h4>
  <h4>1996 Sydney, Australia - Sydney Opera House</h4>
  <br />
  <h1>Exhibitions, Collective</h1>
  <h4>2005 San Salvador, El Salvador - <button class="button" data-id="images/__cv/GaleriaSaraviaExhibition.jpg">Galeria Saravia</button></h4>
  <h4>2003 Sydney, Australia - Studio 277, CBD</h4>
  <h4>1997 Mexico City - <button class="button" data-id="images/__cv/ClubPeriodistas02.jpg">The Journalists Association of Mexico</button> </h4>
  <h4>1997 Mexico City - <button class="button" data-id="images/__cv/CaminoReal01.jpg">Hotel Camino Real</button></h4>
  <i>- presented by the Australian Embassy and Goethe Insititute.</i>
  <h4>1997 Florence, Italy - Allegri Art Gallery</h4>
  <i>- funded by the NSW Government, Ministry for the Arts. </i>
  <h4>1997 Sydney, Australia - <button class="button" data-id="images/__cv/SandraNori_SBEC.jpg">Sydney Business Enterprise Centre</button></h4>
  <i>- with guest speaker: Sandra Nori, M.P. </i>
  <h4>1997 Sydney, Australia - <button class="button" data-id="images/__cv/MartinPlace.jpg">Martin Place Amphitheatre</button></h4>
</div>