
                    <table>

                        <tr>
<td><button class="button" data-id="images/indigenous/lg/Carnivale02.jpg"><img src="images/indigenous/Carnivale02_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/RGB_004.jpg"><img src="images/indigenous/RGB_004_.jpg" alt="IMG" id="50" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/George_dance02.jpg"><img src="images/indigenous/George_dance02_sm.jpg" alt="IMG" id="51" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/RGB_018.jpg"><img src="images/indigenous/RGB_018_.jpg" alt="IMG" id="52" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/indigenous/lg/RGB_021.jpg"><img src="images/indigenous/RGB_021_.jpg" alt="IMG" id="53" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/George_dance01.jpg"><img src="images/indigenous/George_dance01_sm.jpg" alt="IMG" id="54" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/RGB_010.jpg"><img src="images/indigenous/RGB_010_.jpg" alt="IMG" id="55" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/Carnivale01.jpg"><img src="images/indigenous/Carnivale01_sm.jpg" alt="IMG" id="56" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/indigenous/lg/Carnivale04.jpg"><img src="images/indigenous/Carnivale04_sm.jpg" alt="IMG" id="57" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/RGB_012.jpg"><img src="images/indigenous/RGB_012_.jpg" alt="IMG" id="58" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/RGB_030.jpg"><img src="images/indigenous/RGB_030_.jpg" alt="IMG" id="59" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/Carnivale03.jpg"><img src="images/indigenous/Carnivale03_sm.jpg" alt="IMG" id="60" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/indigenous/lg/SW_034.jpg"><img src="images/indigenous/SW_034_.jpg" alt="IMG" id="61" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/SW_030.jpg"><img src="images/indigenous/SW_030_.jpg" alt="IMG" id="62" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/SW_026.jpg"><img src="images/indigenous/SW_026_.jpg" alt="IMG" id="63" /></button></td>
<td><button class="button" data-id="images/indigenous/lg/SW_014.jpg"><img src="images/indigenous/SW_014_.jpg" alt="IMG" id="64" /></button></td>
                        </tr>
                       
                    </table>