
                    <table>

                        <tr>
<td><button class="button" data-id="images/art/lg/BerlinRocksRed.png"><img src="images/art/BerlinRocksRed.jpg" alt="IMG" id="1" /></button></td>
<td><button class="button" data-id="images/art/lg/Background01.jpg"><img src="images/art/Background01.jpg" alt="IMG" id="2" /></button></td>
<td><button class="button" data-id="images/art/lg/Background02.jpg"><img src="images/art/Background02.jpg" alt="IMG" id="3" /></button></td>
<td><button class="button" data-id="images/art/lg/Background03.jpg"><img src="images/art/Background03.jpg" alt="IMG" id="4" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/art/lg/nude10.jpg"><img src="images/art/nude01.jpg" alt="IMG" id="5" /></button></td>
<td><button class="button" data-id="images/art/lg/nude001.jpg"><img src="images/art/nude001.jpg" alt="IMG" id="6" /></button></td>
<td><button class="button" data-id="images/art/lg/nude02.jpg"><img src="images/art/nude02.jpg" alt="IMG" id="7" /></button></td>
<td><button class="button" data-id="images/art/lg/firewoman02.jpg"><img src="images/art/firewoman.jpg" alt="IMG" id="8" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/art/lg/resign04.jpg"><img src="images/art/resign04.jpg" alt="IMG"   /></button></td>
<td><button class="button" data-id="images/art/lg/SelfSculptureX3.jpg"><img src="images/art/SelfSculptureX3.jpg" alt="IMG"   /></button></td>
<td><button class="button" data-id="images/art/lg/SelfPortrait01.jpg"><img src="images/art/SelfPortrait01.jpg" alt="IMG"   /></button></td>
<td><button class="button" data-id="images/art/lg/resign06.jpg"><img src="images/art/resign05.jpg" alt="IMG" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/art/lg/Portrait.jpg"><img src="images/art/Portrait.jpg" alt="IMG"   /></button></td>
<td><button class="button" data-id="images/art/lg/Space.jpg" ><img src="images/art/Space.jpg" alt="IMG" /></button></td>
<td><button class="button" data-id="images/art/lg/Untitled_No6.jpg"><img src="images/art/Untitled_No6.jpg" alt="IMG" /></button></td>
<td><button class="button" data-id="images/art/lg/Untitled(Wayne).jpg"><img src="images/art/Untitled(Wayne).jpg" alt="IMG" /></button></td>
                        </tr>
                       
                    </table>