
                    <table>

                        <tr>
<td><button class="button" data-id="images/theatre/lg/EatPianist.jpg"><img src="images/theatre/EatPianist01_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/groupshot010.jpg"><img src="images/theatre/groupshot010_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/crop04.jpg"><img src="images/theatre/crop04_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/caf.jpg"><img src="images/theatre/caf_sm.jpg" alt="IMG" id="49" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/theatre/lg/crop01.jpg"><img src="images/theatre/crop01_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/RobLisa01.jpg"><img src="images/theatre/RobLisa01_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/RobLisa03.jpg"><img src="images/theatre/RobLisa03_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/crop09.jpg"><img src="images/theatre/crop09_sm.jpg" alt="IMG" id="49" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/theatre/lg/RobLisa08.jpg"><img src="images/theatre/RobLisa08_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/RobLisa11.jpg"><img src="images/theatre/RobLisa11_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/RobLisa07.jpg"><img src="images/theatre/RobLisa07_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/RobLisa10.jpg"><img src="images/theatre/RobLisa10_sm.jpg" alt="IMG" id="49" /></button></td>
                        </tr>
                        <tr>
<td><button class="button" data-id="images/theatre/lg/RitaBruna.jpg"><img src="images/theatre/RitaBruna_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/ToniaFede.jpg"><img src="images/theatre/ToniaFede_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/HirroPablo.jpg"><img src="images/theatre/HirroPablo_sm.jpg" alt="IMG" id="49" /></button></td>
<td><button class="button" data-id="images/theatre/lg/AsamiDeborah.jpg"><img src="images/theatre/AsamiDeborah_sm.jpg" alt="IMG" id="48" /></button></td>
                        </tr>
                       
                    </table>