
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
codebase="http://fpdownload.macromedia.com/
pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" style="width: 410px; height: 150px;">
<param name="SRC" value="images/animation/GeorgeHowell_TV.swf" />
<embed src="images/animation/GeorgeHowell_TV.swf" width="410" height="150"></embed>
</object>
    <br />

 &nbsp; &nbsp; &nbsp;    
						<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
codebase="http://fpdownload.macromedia.com/
pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" style="width: 90px; height: 90px">
<param name="SRC" value="images/animation/breaker.swf" />
<embed src="images/animation/breaker.swf" width="90" height="90"></embed>
</object>

  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
codebase="http://fpdownload.macromedia.com/
pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" style="width: 120px; height: 90px">
<param name="SRC" value="images/animation/clock.swf" />
<embed src="images/animation/clock.swf" width="120" height="90"></embed>
</object>

  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
codebase="http://fpdownload.macromedia.com/
pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" style="width: 90px; height: 90px">
<param name="SRC" value="images/animation/screenprinting.swf" />
<embed src="images/animation/screenprinting.swf" width="90" height="90"></embed>
</object>
 <br />
&nbsp; &nbsp; &nbsp;&nbsp;<img src="images/animation/CUBE_01.gif" alt="GIF" style="padding: 5px;"/>
<img src="images/animation/hurricane_sm.gif" alt="GIF" style="padding: 5px;"/>
<img src="images/animation/BALL_01.gif" alt="GIF" width="50px" height="50px" style="padding: 5px;"/>
<img src="images/animation/Kaleidoscope.gif" alt="GIF" style="padding: 5px;"/>
 <img src="images/animation/SpiningFire.gif" alt="GIF" style="padding: 5px;"/>
 <br />
 
    &nbsp; &nbsp; &nbsp;  <a href="PlayTime.php"><img src="images/animation/PlayTime.jpg"
         onmouseover="src='images/animation/PlayTime_.jpg'"
         onmouseout="src='images/animation/PlayTime.jpg'"alt="IMG" style="margin-bottom: 7px; border: 0;"/>
    </a>
<a href="tv.php"><img src="images/animation/tv.jpg"
         onmouseover="src='images/animation/tv_.jpg'"
         onmouseout="src='images/animation/tv.jpg'"alt="IMG" style="margin-bottom: 7px; border: 0;"/>
</a>
<a href="VoodooRock.php"><img src="images/animation/VoodooRock.jpg"
         onmouseover="src='images/animation/VoodooRock_.jpg'"
         onmouseout="src='images/animation/VoodooRock.jpg'"alt="IMG" style="margin-bottom: 7px; border: 0;"/>
</a>