<div id="sidebar">
    George Howell's introduction to photography began in the early 80&rsquo;s
with the help of mentor, Dieter Bauer. At this age of 13 he built
his own darkroom in the family garage and began developing in black and white. With equipment and
materials made available by family and friends, his future as a photographer was well on its way.
He undertook studies in 1993, concentrating on studio lighting and techniques.
Following exhibitions included images taken with the 5'x 4' view-camera, showing infinate detail, with micro images then printed in large format.
More recent works took a new direction, with the aim to create original/one-off pieces in a spontaneous manner.
This&nbsp;intention was carried out with random techniques, so as to allow the channelling of
creative energy to take its own direction. The incorporation of other media into this work, such as clear
polyester resign, acrylic and textured plastics, progressed the flat image outward to that of relief.
This&nbsp;evolution from photography in the flat to multi-layered and textured pieces of original art
is how George Howell creates much of his recent work. Spontaneity in creation is&nbsp;the&nbsp;intention.<br />
<br/>
In 1997, George Howell left Australia for Mexico City. There he spent nine months, part of which
working with Mexican artists Susana Beltran and Anibal Rubio, and two weeks work experience with
aclaimed cinematographer/photographer <a href="https://www.google.com/search?hl=de&q=nadine%2Bmarkova&btnG=Google-Suche&meta=" target="_blank">Nadine&nbsp;Markova</a>.</h4>
After leaving Mexico City for London in 1998, he spent the majority of two years in the U.K.
working as a freelance photographer for London Financial News and Sunday Business. During this time,
frequent assignments arose in Florence, mainly in the area of fashion photography. In Florence,
he came to know a number of other artists, spending time in the studio of <a href="https://en.calameo.com/read/002930679d44236f951a0?authid=9woQ7spP4Pqg" target="_blank">Mauro&nbsp;Corbani </a>on combined projects.
New collaborations within the visual arts soon followed, including combined exhibitions with
Australian sculptor Guyzo&nbsp;Gibson, and photo-assignments
with Aboriginal dance group <a href="https://www.descendance.com.au" target="_blank">Descendance</a>.<br />

</div>